/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
	a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
		margin:0;
		padding:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
		outline:none;
	}
	table {						/* устраняем отступы между ячейками таблицы */
		border-collapse: collapse;
		border-spacing: 0;
	}
	td, td, img {
		vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
	}
	input, select, button, textarea {
		margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
		font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
		outline: none;
	}
	input[type="text"], input[type="password"], textarea {
		padding: 0; 				/* убираем внутренние отступы для текстовых полей */
	}
	input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
		vertical-align: bottom;
	}
	input[type="radio"] {
		vertical-align: text-bottom;
	}
	sub {
		vertical-align: sub;
		font-size: smaller;
	}
	sup {
		vertical-align: super;
		font-size: smaller;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display:block;
	}
	ul {
		 list-style:none;
	}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		color: #000;
		background: #fff;
		text-align: left;
		min-height: 100%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #000;
	}
	a:hover {
	}
	a:focus, a:active {
	}
	img{
		max-width:100%;
	}
	.centerfix{
		max-width: 940px;
		margin: 0 auto;
	}
/* --------------- базовые настройки ---------*/
.header-top{
	background-color: #293449;
}
	.header-top .centerfix{
		display: flex;
		justify-content: space-between;
	}
		.header-top a,
		.header-top span{
			color:#fff;
		}
	.logo{
		background-color: #ee3643;
	}
	.order{
		background-color: #63a63e;
	}
.header-bottom{
	background-color: #f1f5f7;
}
	.header-center{
		display: flex;
		justify-content: space-between;
	}
	.main-menu ul{
		display: flex;
		justify-content: space-between;
		background-color: #32425c;

	}
		.main-menu a{
			color:#fff;
		}
.features{
	display: flex;
	justify-content: space-between;
	color: #fff;
}
	.feature_left{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 60%;
	}
	.feature_right{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.feature_left .feature-item,
	.feature_right .feature-item{
		position: relative;
		display: flex;
		justify-content: space-between;
	}
		.feature_left .feature-item:nth-child(1){
			background-color: #f6b22d;
		}
		.feature_left .feature-item:nth-child(2){
			background-color: #4aafde;
		}
		.feature_right .feature-item:nth-child(1){
			background-color: #cc79d1;
		}
		.feature_right .feature-item:nth-child(2){
			background-color: #85d179;
		}
		.feature_right .feature-item:nth-child(3){
			background-color: #f6b22d;
		}


	.icon-new{
		position: absolute;
	}
.popular header{
	background-color: #f7f3ec;
	display: flex;
	justify-content: space-between;
}
	.catalog{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
		.catalog-item{
			width: 24%;
			border: 1px solid #e5e5e5;
		}
